body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #4d382f;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #4d382f;
}

#cabecalho .nav .nav-link,
.navbar-brand, 
.navbar-brand:hover, 
.nav-espaco .nav-link.active:hover {
    color: #fff;
}

.carousel-item img {
    height: 600px;          
    width: 100%;
    object-fit: cover;    
    object-position: center;
}

.section-title {
    font-family: Cinzel, serif;
    font-size: 1.6em;
}

#sobre,
#espaco {
    background-color: #f9e8dc;
}

.navbar-toggler {
    background-color: #f9e8dc;
}

.text-colored {
    color: #4d382f;
}

.nav-espaco .nav-link.active,
#fale-conosco button {
    background-color: #4d382f;
    color: #fff;
}

.nav-espaco .nav-link:hover {
    color: #4d382f;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.footer {
    background-color: #4d382f;
    font-size: 0.9em; 
    color: #fff;   
    text-align: center;
    padding: 12px;
    margin-top: 100px;
}

.error {
    color: red; 
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 400px;
    }
}